/Tareas_To_Do_Persistencia/target/
/Tarea_To_Do_Presentacion/target/
/Tarea_To_Do_DTO/target/
/Tarea_To_Do_Convertidores/target/
/Tarea_To_Do_Control_Usuario/target/
/Tarea_To_Do_Control_Tarea/target/
/Tarea_To_Do_Control_Usuario/nbproject/
/Tarea_To_Do_Control_Tarea/nbproject/
